In [124]:
# Imported libaries
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
import yaml

In [138]:
# conect to DB
db_sch = DatabaseConnector()
DatabaseConnector.read_db_creds(db_sch, 'db_creds_II.yaml')
DatabaseConnector.list_db_tables(db_sch)
work_tab = pd.read_sql_table('order_table', db_sch.engine)
print(work_tab.head())
#DatabaseConnector.cast_col(db_sch)
# Find the maximum length of the values in column 'A'
max_length_A = work_tab['product_code'].apply(len).max()
print(f"Max length in column: {max_length_A}")
max_length_B = work_tab['product_quantity'].apply(lambda x: len(str(x))).max()
print(f"Max length in column: {max_length_B}")

here is ['dim_users', 'dim_card_details', 'dim_store_details', 'dim_products', 'test_card_details', 'test_table', 'order_table', 'dim_date_times']
   index                             date_uuid  \
0      0  9476f17e-5d6a-4117-874d-9cdb38ca1fa6
1      1  0423a395-a04d-4e4a-bd0f-d237cbd5a295
2      2  65187294-bb16-4519-adc0-787bbe423970
3      3  579e21f7-13cb-436b-83ad-33687a4eb337
4      4  00ab86c3-2039-4674-b9c1-adbcbbf525bd

                              user_uuid       card_number    store_code  \
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8    30060773296197   BL-8387506C
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49   349624180933183  WEB-1388012W
2  fc461df4-b919-48b2-909e-55c95a03fe6b  3529023891650490   CH-01D85C8D
3  6104719f-ef14-4b09-bf04-fb0c4620acb0   213142929492281   CL-C183BE4B
4  9523a6d3-b2dd-4670-a51a-36aebc89f579      502067329974   SO-B5B9CB3B

  product_code  product_quantity
0  R7-3126933h                 3
1  C2-7287916l                 2
2  S7-1175877v                 2
3  D8-8421505n                 2
4  B6-2596063a                 2
Max length in column: 11
Max length in column: 2

In [134]:
# check col types
insp = inspect(db_sch.engine)
print(insp.get_schema_names())
columns_table = insp.get_columns('order_table')  


for c in columns_table :
    print(c['name'], c['type'])

['information_schema', 'public']
index BIGINT
date_uuid UUID
user_uuid TEXT
card_number BIGINT
store_code TEXT
product_code TEXT
product_quantity BIGINT

In [144]:
# checking sql script has worked

work_tab = pd.read_sql_table('order_table', db_sch.engine)
print(work_tab.head())

insp = inspect(db_sch.engine)
print(insp.get_schema_names())
columns_table = insp.get_columns('order_table')  


for c in columns_table :
    print(c['name'], c['type'])

   index                             date_uuid  \
0      0  9476f17e-5d6a-4117-874d-9cdb38ca1fa6
1      1  0423a395-a04d-4e4a-bd0f-d237cbd5a295
2      2  65187294-bb16-4519-adc0-787bbe423970
3      3  579e21f7-13cb-436b-83ad-33687a4eb337
4      4  00ab86c3-2039-4674-b9c1-adbcbbf525bd

                              user_uuid       card_number    store_code  \
0  9476f17e-5d6a-4117-874d-9cdb38ca1fa6    30060773296197   BL-8387506C
1  0423a395-a04d-4e4a-bd0f-d237cbd5a295   349624180933183  WEB-1388012W
2  65187294-bb16-4519-adc0-787bbe423970  3529023891650490   CH-01D85C8D
3  579e21f7-13cb-436b-83ad-33687a4eb337   213142929492281   CL-C183BE4B
4  00ab86c3-2039-4674-b9c1-adbcbbf525bd      502067329974   SO-B5B9CB3B

  product_code product_quantity
0  R7-3126933h                3
1  C2-7287916l                2
2  S7-1175877v                2
3  D8-8421505n                2
4  B6-2596063a                2
['information_schema', 'public']
index BIGINT
date_uuid UUID
user_uuid UUID
card_number VARCHAR(19)
store_code VARCHAR(12)
product_code VARCHAR(11)
product_quantity VARCHAR(2)

In [152]:
# checking max length of columns
work_tab = pd.read_sql_table('dim_users', db_sch.engine)
print(work_tab.head())
#DatabaseConnector.cast_col(db_sch)
# Find the maximum length of the values in column 'A'
max_length_A = work_tab['country_code'].apply(len).max()
print(f"Max length in column: {max_length_A}")
#max_length_B = work_tab['product_quantity'].apply(lambda x: len(str(x))).max()
#print(f"Max length in column: {max_length_B}")

   level_0  index first_name last_name date_of_birth  \
0        0      0   Sigfried     Noack    1990-09-30
1        1      1        Guy     Allen    1940-12-01
2        2      2      Harry  Lawrence    1995-08-02
3        3      3     Darren   Hussain    1972-09-23
4        4      4      Garry     Stone    1952-12-20

                     company                 email_address  \
0         Heydrich Junitz KG             rudi79@winkler.de
1                    Fox Ltd  rhodesclifford@henderson.com
2  Johnson, Jones and Harris  glen98@bryant-marshall.co.uk
3                Wheeler LLC    daniellebryan@thompson.org
4                 Warner Inc       billy14@long-warren.com

                                             address         country  \
0                       Zimmerstr. 1/0\n59015 Gießen         Germany
1  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4              3 White pass\nHunterborough\nNN96 4UE  United Kingdom

  country_code       phone_number  join_date  \
0           DE   +49(0) 047905356 2018-10-10
1           GB    (0161) 496 0674 2001-12-20
2           GB  +44(0)121 4960340 2016-12-16
3           GB    (0306) 999 0871 2004-02-23
4           GB      0121 496 0225 2006-09-01

                              user_uuid
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2  fc461df4-b919-48b2-909e-55c95a03fe6b
3  6104719f-ef14-4b09-bf04-fb0c4620acb0
4  9523a6d3-b2dd-4670-a51a-36aebc89f579
Max length in column: 3

In [151]:
# check col types
insp = inspect(db_sch.engine)
print(insp.get_schema_names())
columns_table = insp.get_columns('dim_users')  


for c in columns_table :
    print(c['name'], c['type'])

['information_schema', 'public']
level_0 BIGINT
index BIGINT
first_name VARCHAR(255)
last_name VARCHAR(255)
date_of_birth DATE
company TEXT
email_address TEXT
address TEXT
country TEXT
country_code VARCHAR(3)
phone_number TEXT
join_date DATE
user_uuid UUID

In [155]:
# checking sql script has worked

work_tab = pd.read_sql_table('dim_store_details', db_sch.engine)
print(work_tab.head())

insp = inspect(db_sch.engine)
#print(insp.get_schema_names())
columns_table = insp.get_columns('dim_store_details')  


for c in columns_table :
    print(c['name'], c['type'])

   index                                            address longitude   lat  \
0    450  Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...  50.64336  None

     locality   store_code staff_numbers opening_date store_type latitude  \
0  Bad Honnef  BA-B4AED588            36   2001-05-12      Local   7.2278

  country_code continent
0           DE  eeEurope
index BIGINT
address TEXT
longitude TEXT
lat TEXT
locality TEXT
store_code TEXT
staff_numbers TEXT
opening_date TIMESTAMP
store_type TEXT
latitude TEXT
country_code TEXT
continent TEXT